#### Q1: Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [33]:
def is_two(q):
    if (q == '2') or (q == 2):
        return True
    else:
        return False
    
print(is_two(1))
print(is_two(2))
print(is_two(3))
print(is_two('n'))

False
True
False
False

#### Q2: Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [44]:
def is_vowel(v):
    if v in ['a','e','i','o','u'] or v in ['A','E','I','O','U']:
        return True
    else: 
        return False
    
print(is_vowel('f'))
print(is_vowel('e'))
print(is_vowel('i'))
print(is_vowel('O'))

False
True
True
True

In [53]:
def is_vowel(v):
    if v in 'aeiou' or v in 'AEIOU':
        return True
    else: 
        return False
    
print(is_vowel('f'))
print(is_vowel('e'))
print(is_vowel('i'))
print(is_vowel('O'))

False
True
True
True

#### Q3: Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [74]:
def is_consonant(c):
    if c in 'aeiou' or c in 'AEIOU' or c.isdigit():
        return False
    else:
        return True
    
print(is_consonant('f'))
print(is_consonant('e'))
print(is_consonant('i'))
print(is_consonant('O'))
print(is_consonant('2'))

True
False
False
False
False

In [76]:
def is_consonant(c):
    if c in 'aeiou' or c in 'AEIOU' or c.isdigit():
        return False
    return True
    
print(is_consonant('f'))
print(is_consonant('e'))
print(is_consonant('i'))
print(is_consonant('O'))
print(is_consonant('2'))

True
False
False
False
False

#### Q4: Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [97]:
def string(s):
    if type(s) == str:
        return s.capitalize()
    else:
        return s

print(string('hi'))
print(string('f'))
print(string('e'))
print(string('i'))
print(string('O'))
print(string('2'))

Hi
F
E
I
O
2

In [100]:
h = 'hi'
s = 5
print(h.upper(), s)
print(h.upper[0])

HI 5

TypeError: 'builtin_function_or_method' object is not subscriptable

#### Q5: Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [107]:
def calculate_tip(check,tip):
    x = check
    y = tip
    return x * y

print(calculate_tip(120,0.4))

48.0

#### Q6: Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [117]:
def apply_discount(price,discount):
    w = price
    z = discount
    return w - (w * z/100)

print(apply_discount(200,30))

140.0

#### Q7: Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [75]:
def handle_commas(hc):
    if hc.isdigit():
        hc.count()
        return

SyntaxError: invalid syntax (2009466628.py, line 1)

In [5]:
def handle_commas(hc):
    if type(hc) == str:
        return int(hc.replace(',',''))
    else:
        return hc
    
print(handle_commas("1,2,3,4"))
print(handle_commas(",,,,7,,,,"))

1234
7

#### Q8: Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [7]:
def get_letter_grade(g):
    if g >= 90:
        return 'A'
    if g >= 80:
        return 'B'
    if g >= 70:
        return 'C'
    if g >= 60:
        return 'D'
    if g >= 50:
        return 'E... wait, is this really a grade?'
    else:
        return 'Failure'
    
print(get_letter_grade(55))
print(get_letter_grade(15))

E... wait, is this really a grade?
Failure

#### Q9: Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [ ]:
def remove_vowels(rv):
    newthing = []
    newthing.append(letter)

In [ ]:
def remove_vowels(rv):
    newthing = []
    [new_string.append(letter) for letter in vowel_word if not is_vowel(letter)]
    return ''.join(new_string)

#### Q10: Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
##### anything that is not a valid python identifier should be removed
##### leading and trailing whitespace should be removed
##### everything should be lowercase
##### spaces should be replaced with underscores
##### for example:
##### Name will become name
##### First Name will become first_name
##### % Completed will become completed

In [ ]:
def normalize_name(nn):

In [1]:
def normalize_name(nn):
    newstring = ''
    for letter in somestring:
        if letter.isidentifier() or letter == ' ':
            newstring += letter
    return newstring.strip().lower().replace(' ', '_')

#### Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
##### cumulative_sum([1, 1, 1]) returns [1, 2, 3]
##### cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [ ]:
def cumulative_sum(cs):
    big_list = []
    for a in :

In [1]:
def cumulative_sum(cs):
    newlist = []
    for n in mylist:
        cumin = sum(first_list[:n])
        newlist.append(cumin)
    return new_list
    
assert cumulative_sum([1, 2, 3, 4]) == [1, 3, 6, 10]

NameError: name 'mylist' is not defined

##### Once you've completed the above exercises, follow the directions from https://gist.github.com/zgulde/ec8ed80ad8216905cda83d5645c60886 in order to thouroughly comment your code to explain your code.

##### Create a function named twelveto24. It should accept a string in the format 10:45am or 4:30pm and return a string that is the representation of the time in a 24-hour format. Bonus write a function that does the opposite.
##### Create a function named col_index. It should accept a spreadsheet column name, and return the index number of the column.
##### col_index('A') returns 1
##### col_index('B') returns 2
##### col_index('AA') returns 27

In [ ]:
# Create a function named col_index. It should accept a spreadsheet column name, and return the index number of the column.

In [ ]:
# col_index('A') returns 1¶

In [ ]:
# col_index('B') returns 2

In [ ]:
# col_index('AA') returns 27